body{
    background-color: black;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: white;
}

h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 0vh;
}

.schedule-frame{
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
}

main{
    display: flex;
    background-color: #2E2E2E;
    width: 80vw;
    height: 40vw;
    position:sticky;
    justify-content: center;
    flex-direction: row;
    padding: 1vw;
    margin: 1vw;
    transform: scale(1.1);
}
.days{
    display: flex;
    flex-direction: column;
    
}


.times{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 5vw;
    height: 65vh;
    border: solid 1px;
    margin: 1vw;
    margin-top: 3.8vw;
    padding-top: 0vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    position: relative;

    border-style: none;

}

.clock-frame{
    border: 5px soild black;
    width: 5vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    
    margin-top: 0vw;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

.monday{
    background-color: rgb(255, 255, 255);
    width: 8vw;
    height: 65vh;
    border-style: none;
    margin: 1vw;
    border-radius: 5px;
}

.tuseday{
    background-color: rgb(255, 255, 255);
    width: 8vw;
    height: 65vh;
    border-style: none;
    margin: 1vw;
    border-radius: 5px;
}
.wenesday{
    background-color: rgb(255, 255, 255);
    width: 8vw;
    height: 65vh;
    border-style: none;
    margin: 1vw;
    border-radius: 5px;
}

.thursday{
    background-color: rgb(255, 255, 255);
    width: 8vw;
    height: 65vh;
    border-style: none;
    margin: 1vw;
    border-radius: 5px;
}

.friday{
    background-color: rgb(255, 255, 255);
    width: 8vw;
    height: 65vh;
    border-style: none;
    margin: 1vw;
    border-radius: 5px;
}



.name{
    color: white;
    text-decoration: underline;
    margin-top: 0vh;
    margin-bottom: -1vh;
    text-align: center;
}
.name,.name2, .name3, .name4, .name5,.name6{
    color: white;
    text-decoration: underline;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
}



.place,.place2,.place3,.place4,.place5,.place6{
    margin-top: 0vh;
    color: white;
    margin-bottom: 0vh;
    align-items: left;
    
}




.time{
    margin-top: 0vh;
    color: rgb(255, 255, 255);
    justify-content: space-around;
}
.time2,.time3,.time4,.time5,.time6{
    margin-top: -2vh;
    color: white;
}





.responsible{
    margin-bottom: 10vh;
    color: rgb(255, 255, 255);
    align-items: left;
}
.responsible2{
    margin-top: 0;
    color: rgb(255, 255, 255);
    align-items: left;
}

.start-meeting{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.0vh;
    width: 100%;
    height: 6vh; /*every 5vh is equal to 1h */
    background-color: #09A5FF;
    border-radius: 8px;
    border: solid black 1px;
      
}

.development-coding{
    margin-top: 0.3vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.0vh;
    width: 100%;
    height: 7vh; /*every 5vh is equal to 1h */
    background-color: #46af69;
    border-radius: 8px;
    justify-content: space-around;
    border: solid black 1px;
}

.ci-cd{
    margin-top: 0.3vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.0vh;
    width: 100%;
    height: 9vh; /*every 5vh is equal to 1h */
    color: white;
    background-color: #46af69;
    border: solid black 1px;
    border-radius: 8px;
    justify-content: space-around;
}

.infrastructure{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.0vh;
    width: 100%;
    height: 10vh; /*every 5vh is equal to 1h */
    color: white;
    background-color: #46af69;
    border: solid black 1px;
    border-radius: 8px;
    justify-content: space-around;
}

.monitoring-logging{
    margin-top: 1.0vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.0vh;
    width: 100%;
    height: 8vh; /*every 5vh is equal to 1h */
    background-color: #46af69;
    border: solid black 1px;
    border-radius: 8px;
    justify-content: space-around;
    color: white;
}

.documentation{
    margin-top: 0.7vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.0vh;
    width: 100%;
    height: 9.38vh; /*every 5vh is equal to 1h */
    background-color: #46af69;
    border: solid black 1px;
    border-radius: 8px;
    justify-content: space-around;
    color: white;
}