body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.navbar {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}

.navbar ul {
    height: 100%;
    margin-bottom: 1;
    padding: 0;
}

.navbar li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    list-style-type: none;
    padding: 1vw;
    background-color: rgb(61, 61, 61);
    display: inline-flex;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 0.5vh;
    transition: 0.4s ease-in;
    box-shadow: inset #000000 0.12vw 0 0.8vh 0.2vw;
}

.navbar li:hover {
    box-shadow: inset #921818 9vw 0 9vh 0.2vw;
    font-style: #aa0808;
    transform: 0.2vw 0 0.5vh 0.2vw;
}

.logo {
    height: 3vw;
    width: 6vw;
    margin-bottom: -1vw;
    margin-right: 22vw;
    margin-left: -30vw;
    padding: 0;
    border: 0;
    box-shadow: none;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #ffffff;
    transition: 0.2s ease-in;
}


content {
    margin-top: 10vh; 
}

.sidebar{
    width: 31vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}



.chapters {
display: flex;
flex-direction: column;
width: 25vh;
margin-left: 0vh;
font-size: 2.2vh;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight:600;
margin-bottom: 0;
}

.chapter{
    margin-bottom: 2.5vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

}

.chapter-title{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 4vh;
    display: flex;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:650;
    background-color: rgb(206, 50, 50);
    color: rgb(255, 255, 255);
    border: solid 0.3vh black;
    word-break:break-all;
    margin-bottom: 0.5vh;
    padding: 1.5vh;
    border-bottom-right-radius: 1vh;
    text-align: center;
    cursor: pointer;
}



.chapter-title-name{
    position: absolute;
    font-size: 0.6vw;
    width: 25vh;
    text-align: left;
    text-decoration: underline;
    margin: 1vh;
    word-break: keep-all;
   
}

.triangle{
    position: absolute;
    transform: rotate(0deg);
    width: 0vh;
    height: 0vh;
    margin-left: -1vh;
    color: aqua;
    border-left: 10px solid  transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(0, 0, 0);
}

.rotated{
    transform: rotate(-90deg);
}

.lessons {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: rgb(51, 51, 51);
    text-align: center;
    
}

.lessons a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 0.3vh;
    margin-left: 1vh;
    font-size: 2.0vh;
}

.chapters {
    display: flex;
    flex-direction: column;
    flex-direction: inherit;
    align-items: stretch;
    /* justify-content: center; */
    flex-basis: auto;
   background-color: rgb(51,51,51);
}

 .slider{
    background-color: rgb(255, 255, 255);
    border-radius: 0.2vh;
    height: 1vh;
    margin-left:10px;
    margin-right:10px;
   margin-top: 0.1vh;
   
} 

.slider::-webkit-progress-value{
    height: 25px;
    background: #1c9720;
    cursor: pointer;  
}

.slider::-moz-progress-bar {
    width: 25px;
    height: 25px;
    background: #1c9720;
    cursor: pointer;  
}



